<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>measure</key>
	<dict>
		<key>Transmit Power</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>ACP</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Power vs Time</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Spectrum\nEmission Mask</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Spurious\nEmissions</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Occupied BW</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Power Stat\nCCDF</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Code Domain</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Mod Accuracy\n(Composite EVM)</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>IQ Waveform</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict>
				<key>RF Envelop</key>
				<dict>
					<key>Enabled</key>
					<false/>
				</dict>
				<key>I/Q Waveform</key>
				<dict>
					<key>Enabled</key>
					<false/>
				</dict>
			</dict>
		</dict>
		<key>Monitor\nSpectrum</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
	</dict>
	<key>settings</key>
	<dict>
		<key>measureBar</key>
		<dict>
			<key>count</key>
			<integer>7</integer>
			<key>useRatio</key>
			<true/>
			<key>width</key>
			<array>
				<integer>1</integer>
				<real>1</real>
				<real>1</real>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
	</dict>
	<key>measureBars</key>
	<array>
		<array>
			<dict>
				<key>shortLabel</key>
				<string></string>
				<key>label</key>
				<string>Sweep/Measure</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Single</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Continous</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string></string>
				<key>label</key>
				<string>Restart</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array/>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string></string>
				<key>label</key>
				<string>Pause</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array/>
			</dict>
		</array>
		<array>
			<dict>
				<key>shortLabel</key>
				<string>Input</string>
				<key>label</key>
				<string>Select Input</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>4</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string>RF</string>
						<key>label</key>
						<string>RF</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string>EXT MIXER</string>
						<key>label</key>
						<string>External Mixer</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>2</integer>
						<key>shortLabel</key>
						<string>I/Q</string>
						<key>label</key>
						<string>I/Q</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string>Ext Gain</string>
				<key>label</key>
				<string>External Gain</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string>dB</string>
				<key>enumValues</key>
				<array/>
			</dict>
		</array>
		<array>
			<dict>
				<key>shortLabel</key>
				<string>Input Z</string>
				<key>label</key>
				<string>Input Z</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>4</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string>50 Ohm</string>
						<key>label</key>
						<string>50 Ohm</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string>75 Ohm</string>
						<key>label</key>
						<string>75 Ohm</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string></string>
				<key>label</key>
				<string>Select Correction</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>4</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Correction 1</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Correction 2</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>2</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Correction 3</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>3</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Correction 4</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>4</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Correction 5</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>5</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Correction 6</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>6</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Correction 7</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>7</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Correction 8</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string>Corrections</string>
				<key>label</key>
				<string>Corrections</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string>Off</string>
						<key>label</key>
						<string>Off</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string>On</string>
						<key>label</key>
						<string>On</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string>Freq Ref</string>
				<key>label</key>
				<string>Freq Ref Input</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>4</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string>Internal</string>
						<key>label</key>
						<string>Internal</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string>External</string>
						<key>label</key>
						<string>External</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>2</integer>
						<key>shortLabel</key>
						<string>Sense</string>
						<key>label</key>
						<string>Sense</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>3</integer>
						<key>shortLabel</key>
						<string>Pulse</string>
						<key>label</key>
						<string>Pulse</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string>Align</string>
				<key>label</key>
				<string>Auto Align</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>4</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string>On</string>
						<key>label</key>
						<string>On</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string>Off</string>
						<key>label</key>
						<string>Off</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>2</integer>
						<key>shortLabel</key>
						<string>Partial</string>
						<key>label</key>
						<string>Partial</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>shortLabel</key>
				<string>Atten</string>
				<key>label</key>
				<string>Mech Atten</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<real>10</real>
				<key>unit</key>
				<string>dB</string>
				<key>enumValues</key>
				<array/>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string></string>
				<key>label</key>
				<string>Elec Atten</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string>dB</string>
				<key>enumValues</key>
				<array/>
				<key>subBoolEnum</key>
				<dict>
					<key>shortLabel</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>nameString</key>
					<string></string>
					<key>type</key>
					<integer>4</integer>
					<key>valueString</key>
					<string></string>
					<key>value</key>
					<integer>1</integer>
					<key>unit</key>
					<string></string>
					<key>enumValues</key>
					<array>
						<dict>
							<key>value</key>
							<integer>0</integer>
							<key>shortLabel</key>
							<string></string>
							<key>label</key>
							<string>Disable</string>
						</dict>
						<dict>
							<key>value</key>
							<integer>1</integer>
							<key>shortLabel</key>
							<string></string>
							<key>label</key>
							<string>Enable</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string>Int Preamp</string>
				<key>label</key>
				<string>Internal Preamp</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>4</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Low Band</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Mid Band</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>2</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>High Band</string>
					</dict>
				</array>
				<key>subBoolEnum</key>
				<dict>
					<key>shortLabel</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>nameString</key>
					<string></string>
					<key>type</key>
					<integer>4</integer>
					<key>valueString</key>
					<string></string>
					<key>value</key>
					<integer>0</integer>
					<key>unit</key>
					<string></string>
					<key>enumValues</key>
					<array>
						<dict>
							<key>value</key>
							<integer>0</integer>
							<key>shortLabel</key>
							<string></string>
							<key>label</key>
							<string>Off</string>
						</dict>
						<dict>
							<key>value</key>
							<integer>1</integer>
							<key>shortLabel</key>
							<string></string>
							<key>label</key>
							<string>On</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string>LNP</string>
				<key>label</key>
				<string>uW Path Control</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>4</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string>Enabled</string>
						<key>label</key>
						<string>LNP Enable</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string>Disabled</string>
						<key>label</key>
						<string>Standard Path</string>
					</dict>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>shortLabel</key>
				<string>Trig</string>
				<key>label</key>
				<string>Select Trig Source</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>4</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string>Free Run</string>
						<key>label</key>
						<string>Free Run</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string>Video</string>
						<key>label</key>
						<string>Video</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>2</integer>
						<key>shortLabel</key>
						<string>Line</string>
						<key>label</key>
						<string>Line</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>3</integer>
						<key>shortLabel</key>
						<string>External 1</string>
						<key>label</key>
						<string>External 1</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>4</integer>
						<key>shortLabel</key>
						<string>External 2</string>
						<key>label</key>
						<string>External 2</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>5</integer>
						<key>shortLabel</key>
						<string>RF Burst</string>
						<key>label</key>
						<string>RF Burst</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>6</integer>
						<key>shortLabel</key>
						<string>Periodic</string>
						<key>label</key>
						<string>Periodic</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string></string>
				<key>label</key>
				<string>Trigger Delay</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string>s</string>
				<key>enumValues</key>
				<array/>
				<key>subBoolEnum</key>
				<dict>
					<key>shortLabel</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>nameString</key>
					<string></string>
					<key>type</key>
					<integer>4</integer>
					<key>valueString</key>
					<string></string>
					<key>value</key>
					<integer>0</integer>
					<key>unit</key>
					<string></string>
					<key>enumValues</key>
					<array>
						<dict>
							<key>value</key>
							<integer>0</integer>
							<key>shortLabel</key>
							<string></string>
							<key>label</key>
							<string>Off</string>
						</dict>
						<dict>
							<key>value</key>
							<integer>1</integer>
							<key>shortLabel</key>
							<string></string>
							<key>label</key>
							<string>On</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<array>
			<dict>
				<key>shortLabel</key>
				<string>PNO</string>
				<key>label</key>
				<string>Phase Noise Optimization</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>4</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string>Close</string>
						<key>label</key>
						<string>Best Close-In Noise</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string>Balanced</string>
						<key>label</key>
						<string>Balanced</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>2</integer>
						<key>shortLabel</key>
						<string>Best Spurs</string>
						<key>label</key>
						<string>Best Spurs</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>3</integer>
						<key>shortLabel</key>
						<string>Wide</string>
						<key>label</key>
						<string>Wide-Offset</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>4</integer>
						<key>shortLabel</key>
						<string>Fast</string>
						<key>label</key>
						<string>Fast Tuning</string>
					</dict>
				</array>
				<key>subBoolEnum</key>
				<dict>
					<key>shortLabel</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>nameString</key>
					<string></string>
					<key>type</key>
					<integer>4</integer>
					<key>valueString</key>
					<string></string>
					<key>value</key>
					<integer>0</integer>
					<key>unit</key>
					<string></string>
					<key>enumValues</key>
					<array>
						<dict>
							<key>value</key>
							<integer>0</integer>
							<key>shortLabel</key>
							<string></string>
							<key>label</key>
							<string>Auto</string>
						</dict>
						<dict>
							<key>value</key>
							<integer>1</integer>
							<key>shortLabel</key>
							<string></string>
							<key>label</key>
							<string>Man</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string>IF Gain</string>
				<key>label</key>
				<string>IF Gain</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>4</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string>Autorange</string>
						<key>label</key>
						<string>Autorange</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string>Low Gain</string>
						<key>label</key>
						<string>Low Gain</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>2</integer>
						<key>shortLabel</key>
						<string>High Gain</string>
						<key>label</key>
						<string>High Gain</string>
					</dict>
				</array>
				<key>subBoolEnum</key>
				<dict>
					<key>shortLabel</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>nameString</key>
					<string></string>
					<key>type</key>
					<integer>4</integer>
					<key>valueString</key>
					<string></string>
					<key>value</key>
					<integer>0</integer>
					<key>unit</key>
					<string></string>
					<key>enumValues</key>
					<array>
						<dict>
							<key>value</key>
							<integer>0</integer>
							<key>shortLabel</key>
							<string></string>
							<key>label</key>
							<string>Auto</string>
						</dict>
						<dict>
							<key>value</key>
							<integer>1</integer>
							<key>shortLabel</key>
							<string></string>
							<key>label</key>
							<string>Man</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<array/>
	</array>
</dict>
</plist>
