<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>measure</key>
	<dict>
		<key>Transmit Power</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>ACP</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Power vs Time</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Spectrum\nEmission Mask</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Spurious\nEmissions</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Occupied BW</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Power Stat\nCCDF</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Code Domain</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>Mod Accuracy\n(Composite EVM)</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
		<key>IQ Waveform</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict>
				<key>RF Envelop</key>
				<dict>
					<key>Enabled</key>
					<false/>
				</dict>
				<key>I/Q Waveform</key>
				<dict>
					<key>Enabled</key>
					<false/>
				</dict>
			</dict>
		</dict>
		<key>Monitor\nSpectrum</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>View</key>
			<dict/>
		</dict>
	</dict>
	<key>settings</key>
	<dict>
		<key>measureBar</key>
		<dict>
			<key>count</key>
			<integer>7</integer>
			<key>useRatio</key>
			<true/>
			<key>width</key>
			<array>
				<integer>1</integer>
				<real>1</real>
				<real>1</real>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
	</dict>
	<key>measureBars</key>
	<array>
		<array>
			<dict>
				<key>shortLabel</key>
				<string></string>
				<key>label</key>
				<string>Sweep/Measure</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Single</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string></string>
						<key>label</key>
						<string>Continous</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string></string>
				<key>label</key>
				<string>Restart</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array/>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string></string>
				<key>label</key>
				<string>Pause</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array/>
			</dict>
		</array>
		<array>
			<dict>
				<key>shortLabel</key>
				<string>Input</string>
				<key>label</key>
				<string>Select Input</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>4</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string></string>
				<key>enumValues</key>
				<array>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>shortLabel</key>
						<string>RF</string>
						<key>label</key>
						<string>RF</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>shortLabel</key>
						<string>EXT MIXER</string>
						<key>label</key>
						<string>External Mixer</string>
					</dict>
					<dict>
						<key>value</key>
						<integer>2</integer>
						<key>shortLabel</key>
						<string>I/Q</string>
						<key>label</key>
						<string>I/Q</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shortLabel</key>
				<string>Ext Gain</string>
				<key>label</key>
				<string>External Gain</string>
				<key>nameString</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
				<key>valueString</key>
				<string></string>
				<key>value</key>
				<integer>0</integer>
				<key>unit</key>
				<string>dB</string>
				<key>enumValues</key>
				<array/>
			</dict>
		</array>
		<array/>
		<array/>
		<array/>
		<array/>
		<array/>
	</array>
</dict>
</plist>
