<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>measure</key>
	<dict>
		<key>Monitor Spectrum</key>
		<array/>
		<key>IQ Waveform</key>
		<array>
			<string>RF Envelop</string>
			<string>I/Q Waveform</string>
		</array>
	</dict>
</dict>
</plist>
